pipeline/11_copyactivity_wildcard_path.json
{
	"name": "11_copyactivity_wildcard_path",
	"properties": {
		"activities": [
			{
				"name": "getCurrentTimeStamp",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "dt",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "getfiledate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getCurrentTimeStamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "filedate",
					"value": {
						"value": "@formatDateTime(variables('dt'), 'ddMMyyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "getfiledate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "inbound",
							"wildcardFileName": {
								"value": "('orders',*)",
								"type": "Expression"
							},
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_inbound_wildcard",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_outbound",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"dt": {
				"type": "String"
			},
			"filedate": {
				"type": "String"
			}
		},
		"annotations": []
	}
}