pipeline/11_copyactivity_wildcard_path.json
{
	"name": "11_copyactivity_wildcard_path",
	"properties": {
		"activities": [
			{
				"name": "getCurrentTimeStamp",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "dt",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "getfiledate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getCurrentTimeStamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "filedate",
					"value": {
						"value": "@formatDateTime(variables('dt'), 'ddMMyyyy')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"dt": {
				"type": "String"
			},
			"filedate": {
				"type": "String"
			}
		},
		"annotations": []
	}
}