pipeline/21_lookupactivity_3filescp.json
{
	"name": "21_lookupactivity_3filescp",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb_cntl_tbl",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"activities": [
						{
							"name": "getFileName",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "srcfilename",
								"value": {
									"value": "@item().filename",
									"type": "Expression"
								}
							}
						},
						{
							"name": "getTableName",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "getFileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "targettablename",
								"value": {
									"value": "@item().tablename",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"srcfilename": {
				"type": "String"
			},
			"targettablename": {
				"type": "String"
			}
		},
		"annotations": []
	}
}