pipeline/23_pipeline_parameter.json
{
	"name": "23_pipeline_parameter",
	"properties": {
		"activities": [
			{
				"name": "getPersonName",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "p_name",
					"value": {
						"value": "@pipeline().parameters.person_name",
						"type": "Expression"
					}
				}
			},
			{
				"name": "getPersonAge",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getPersonName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "p_age",
					"value": {
						"value": "@pipeline().parameters.person_age",
						"type": "Expression"
					}
				}
			},
			{
				"name": "getMessage",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getPersonAge",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "msg",
					"value": {
						"value": "@concat('Person Name is ', variables('p_name'),'Person age is ',variables('p_age'), 'country is ', pipeline().globalParameters.country)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"person_name": {
				"type": "string"
			},
			"person_age": {
				"type": "string"
			}
		},
		"variables": {
			"p_name": {
				"type": "String"
			},
			"p_age": {
				"type": "String"
			},
			"msg": {
				"type": "String"
			}
		},
		"annotations": []
	}
}