pipeline/24_execute_pipeline_parentpipeline.json
{
	"name": "24_execute_pipeline_parentpipeline",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "25_execute_pipeline_childpipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"prsn_nm": "Sai Mehar",
						"prsn_age": "Veerla"
					}
				}
			},
			{
				"name": "set status",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "p_status",
					"value": {
						"value": "@activity('Execute Pipeline1').output.pipelineReturnValue.status",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"p_status": {
				"type": "String"
			}
		},
		"annotations": []
	}
}