pipeline/5_set_variable_activity.json
{
	"name": "5_set_variable_activity",
	"properties": {
		"activities": [
			{
				"name": "getPersonName",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "prsn_name",
					"value": "Ram"
				}
			},
			{
				"name": "getPersonAge",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getPersonName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "prsn_age",
					"value": "21"
				}
			},
			{
				"name": "getGender",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getPersonAge",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "prsn_gen",
					"value": "Male"
				}
			},
			{
				"name": "getMessage",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getGender",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "msg",
					"value": {
						"value": "@concat('Person name is ', variables('prsn_name'), ', age is ', variables('prsn_age'), ', gender is ', variables('prsn_gen'), ' and location is ', variables('prsn_loc'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"prsn_name": {
				"type": "String"
			},
			"prsn_age": {
				"type": "String"
			},
			"prsn_gen": {
				"type": "String"
			},
			"prsn_loc": {
				"type": "String",
				"defaultValue": "Hyderabad"
			},
			"msg": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-10-01T18:04:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}