pipeline/7_copyactivity_dataset_with_parameter_copy1.json
{
	"name": "7_copyactivity_dataset_with_parameter_copy1",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "getFileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_src_parameter",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@variables('srcfilename')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "getFileName",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "srcfilename",
					"value": "customers.txt"
				}
			}
		],
		"variables": {
			"srcfilename": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-10-04T14:24:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}