pipeline/8_copyactivity_ds_multiple_param.json
{
	"name": "8_copyactivity_ds_multiple_param",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "getFileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_src_multiple_param",
						"type": "DatasetReference",
						"parameters": {
							"foldername": {
								"value": "@variables('foldername')",
								"type": "Expression"
							},
							"filename": {
								"value": "@variables('filename')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "getFolderName",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "foldername",
					"value": "srcfiles"
				}
			},
			{
				"name": "getFileName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getFolderName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "filename",
					"value": "Driving license.pdf"
				}
			}
		],
		"variables": {
			"foldername": {
				"type": "String"
			},
			"filename": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-10-03T15:53:40Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}