pipeline/9_copyactivity_prvs_day_file.json
{
	"name": "9_copyactivity_prvs_day_file",
	"properties": {
		"activities": [
			{
				"name": "getCurrentDate",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "curr_dt",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "getPrvsDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getCurrentDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "prvs_dt",
					"value": {
						"value": "@adddays(utcNow(),-1)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "getFileDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getPrvsDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileDate",
					"value": {
						"value": "@formatDateTime(variables('prvs_dt') , 'ddMMyyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "getSrcFileName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getFileDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "filename",
					"value": {
						"value": "@concat('orders_', variables('fileDate'),'.txt')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "getSrcFileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_inbound_param",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@variables('filename')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_sink",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"curr_dt": {
				"type": "String"
			},
			"prvs_dt": {
				"type": "String"
			},
			"fileDate": {
				"type": "String"
			},
			"filename": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-10-04T15:13:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}